{% extends 'base.html' %}

{% block content %}
   

    <form action="">
        <div class="mb-3">
            <label for="searchMovie" class="form-label">Search for Movie:</label>
            <input type="text" class="form-control" name="searchMovie" />
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    <p>Searching for {{ searchTerm }}</p>

    <!-- Cards for Movies -->
    <div class="row row-cols-1 row-cols-md-3 g-4">      
        {% for movie in movies %}
        <div class="col">
            <div class="card h-100" style="border: 1px solid #ddd; box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);">
                <img class="card-img-top img-fluid" src="{{ movie.image.url }}" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text">{{ movie.genre }}</p>
                    <p class="card-text">{{ movie.year }}</p>
                    {% if movie.url %}
                    <a href="{{ movie.url }}" class="btn btn-primary">Movie link</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <br /><br /><br />
    <h2>Join our mailing list:</h2>
    <form action="{% url 'signup' %}">
        <div class="mb-3">
            <label for="email" class="form-label">Enter your email:</label>
            <input type="email" class="form-control" name="email"/>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
{% endblock content %}
